html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}
body{
    background-image: url("https://assets.cntraveller.in/photos/63d8e5103d7229d4cf308f01/master/pass/Prequel-lead.jpg");
}
#upper,#lower{
    display: grid;
    background-color: rgb(214, 202, 202);
    padding: 10px;
    border-radius: 10px;
    opacity: 70%;
    margin-bottom: 15px;
}
button{
    
    background-color: rgb(112, 134, 153);
}
input,select{
    background-color: rgb(228, 233, 237);
}