.main-head{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto auto auto auto;    
    font-weight: bold;
    background: lightgray;
}


.rest{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto auto auto auto;
}



.col{
    border: 1px solid black;
    padding: 5px;
}
.spacecol{
    grid-row: 1 / span 3;
    border: 1px solid black;
    padding: 5px;
    background: lightgray;
}
