p {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  text-align: center;
  background-color: bisque;
}
ul {
  text-align: center;
}
h3 {
  text-align: center;
  background-color: bisque;
}
